.custom-th {
  color: #b7b7b7 !important;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.custom-height-table {
  height: 100% !important;
}

.custom-tr {
  height: 50px;
  font-size: 13px !important;
  font-weight: 500 !important;
}

.custom-tr-par {
  background-color: #f9f9f9;
}

.custom-tr-impar {
  background-color: #fff;
}
