.tooltip-custom {
  font-family: "Segoe UI", "Helvetica Neue", "Open Sans", san-serif;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all .4s ease;
  position: relative;
  border-radius: 5;
}

.tooltip-custom:before {
  content: attr(data-title);
  font-size: 13px;
  position: absolute;
  left: 2px;
  bottom: 70%;
  padding: 5px;
  box-shadow: 2px 3px 4px rgb(0, 0, 0, 0.4);
  width: max-content;
  transition: all .4s ease;
  background:#fff;
  z-index: 999999;
  border-radius: 5px;
  text-align: center;
  min-width: 60px;
  font-weight: 400;
  color: #1c2b46;
  display: none;
}

.tooltip-custom:after {
  content: "";
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  bottom: 60%;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #fff transparent transparent transparent;
  transition: all .4s ease;
  z-index: 999999;
  left: 27%;
}

.tooltip-custom:hover:after,
.tooltip-custom:hover:before {
  display: flex;
}